includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests

    bootstrapFiles:
        - vendor/orchestra/testbench-core/laravel/bootstrap/app.php

    larastan:
        app_path: vendor/orchestra/testbench-core/laravel/app
        config_path: vendor/filament/filament/config/filament.php

    ignoreErrors:
        -
            identifier: missingType.iterableValue